node_modules
coverage
build/
npm-debug.log*
*.tsbuildinfo
.eslintcache

.terraform
*.tfstate*
*.tfvars

.DS_Store

.env*
!.env.example

/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

shared/lib/**

.connect
