Dockerfile
coverage/
dist/
node_modules/
test-results/
npm-debug.log
.dockerignore
.editorconfig
.env
.env.local
.env.sample
.envrc
.eslintcache
.gcloudignore
.git/
.github/
.gitattributes
.gitignore
.husky/
.idea
*.iml
.npmrc
.prettierignore
.prettierrc
.vscode/
